################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/GEMINI/.vs/GEMINI
/GEMINI/bin/Debug/net8.0-windows8.0/win-x64/Files
